.container {
    height: 70%;
}

.carrusel {
    width: 100%;
    padding: 1.2%;
}

.imgCarrusel {
    width: 25%;
}

.info {
    width: 75%;
    padding: 1.3%;
}

#imagen {
    width: 300px;
    position: relative;
    left: -90px;    
}

.page-header {
    position: relative;
    z-index: 1000;
}

@media screen and (max-width: 768px) {
    .imgCarrusel {
        display: none;
    }
}
